.card {
    padding: 20px;
    background: white;
    box-sizing: border-box;
}

.card h1 {
    color: black;
    margin: 0px;
    font-size: 1.5em;
    
}

.card p {
    color: black;
    margin: 0px;
}

